body{
    background-image: url(img/fondo3.jpg);
    
    background-size: cover;


}
#añadir{
    background-image: url(img/añadir.png);
    margin-left: 200px;
    background-size: cover;
    height: 200px;
    width: 300px;
    margin-top: 250px;
    position: absolute;
}
#borrar{
    background-image: url(img/borrar.png);
    margin-left: 600px;
    background-size: cover;
    height: 200px;
    width: 300px;
    margin-top: 250px;
    position: absolute;
}
#actualizar{
    background-image: url(img/actualizar.png);
    margin-left: 1000px;
    background-size: cover;
    height: 200px;
    width: 300px;
    margin-top: 250px;
    position: absolute;
}
#buscar{
    background-image: url(img/buscar.png);
    margin-left: 1400px;
    background-size: cover;
    height: 200px;
    width: 300px;
    margin-top: 250px;
    position: absolute;
}
#jugador{
    background-image: url(img/jugador.jpg);
    margin-left: 550px;
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-top: 250px;
    position: absolute;
}
#equipo{
    background-image: url(img/equipo.png);
    margin-left: 1050px;
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-top: 250px;
    position: absolute;
}

/* Estilos de CSS*/

form{
    left: 50%;
    /*margin-left:700px;*/
    margin-top: 200px;
    border: 2px black solid;
    border-radius: 20px;    
    height: auto;
    width: 430px;
    
}
form.buscar{
    left: 60%;
    /*margin-left:700px;*/
    margin-top: 100px;
    border: 2px black solid;
    border-radius: 20px;    
    height: auto;
    width: 430px;
    position: absolute;
}
form.buscar2{
    left: 20%;
    /*margin-left:700px;*/
    margin-top: 100px;
    border: 2px black solid;
    border-radius: 20px;    
    height: 230px;
    width: 430px;
    position: absolute;
}

table.formato{

    background-color: rgb(222, 228, 224);
    border: black 2px solid;
    text-align: center;
    padding: 5px;
    border-collapse: collapse;
    width: 600px;
    
  
  }


